<div class="card card-outline card-success my-5 mx-5">
    <div class="card-header">
        <h3 class="card-title"> Locales asignados</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4" *ngFor="let el of employeLocals">
                <div class="callout callout-info mr-1">
                    <h5>{{el.local.name}}</h5>
                    <button class="btn btn-outline-success" (click)="selectLocal(el.local)"> Seleccionar</button>
                </div>
            </div>
        </div>
    </div>
</div>