<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title"> Caja</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-outline card-info">
                    <div class="card-header">
                        <h3 class="card-title"> Productos</h3>
                    </div>
                    <div class="card-body">
                        <div class="input-group input-group-sm">
                            <input type="text" name="code" class="form-control" [(ngModel)]="code">
                            <span class="input-group-append">
                                <button type="button" class="btn btn-info btn-flat" (click)="getProductByCode()"><i
                                        class="fas fas fa-search"></i></button>
                            </span>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Codigo</th>
                                        <th>Producto</th>
                                        <th>Precio Unitario</th>
                                        <th>Cantidad</th>
                                        <th>Descuento</th>
                                        <th>Sub total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let ds of detailSales; let i=index;">
                                        <th>{{i + 1}}</th>
                                        <th>{{ds.producto.productCode}}</th>
                                        <th>{{ds.producto.name}}</th>
                                        <th>{{ds.producto.priceSale | currency: 'S/.'}}</th>
                                        <th>
                                            <input type="number" name="quantity" class="form-control" min="0"
                                                [(ngModel)]="ds.quantity" (change)="calculateTotalPrice(ds.producto)">
                                        </th>
                                        <th>

                                            <input type="number" name="discount" class="form-control" min="0" max="5"
                                                [(ngModel)]="ds.discount" (change)="calculateTotalPrice(ds.producto)">
                                        </th>
                                        <th>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">S/.</span>
                                                </div>
                                                <input type="number" name="totalPrice" class="form-control"
                                                    [(ngModel)]="ds.totalPrice" disabled>
                                            </div>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-outline card-success">
                    <div class="card-header">
                        <h3 class="card-title"> Detalles de venta</h3>
                    </div>
                    <div class="card-body">
                        <div class="callout callout-info">
                            <dl class="row">
                                <dt class="col-sm-4">Total</dt>
                                <dd class="col-sm-8">{{sale.salePrice | currency: 'S/.'}}</dd>
                                <dt class="col-sm-4">Monto</dt>
                                <dd class="col-sm-8">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">S/.</span>
                                        </div>
                                        <input type="number" name="totalPaid" class="form-control"
                                            [(ngModel)]="sale.totalPaid">
                                    </div>
                                </dd>
                                <dt class="col-sm-4" *ngIf="sale.totalPaid">Vuelto</dt>
                                <dd class="col-sm-8" *ngIf="sale.totalPaid">
                                    {{sale.totalPaid - sale.salePrice | currency: 'S/.'}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-danger"><i class="fas fas fa-times"></i> Cancelar</button>
        <button class="btn btn-outline-primary float-right" (click)="createSale()"><i class="fas fas fas fa-check"></i> Vender</button>
    </div>
</div>