<div class="card card-outline card-primary">
  <div class="card-header">
    <h3 class="card-title"> Mi caja</h3>
  </div>
  <div class="card-body">
    <div [ngClass]="{'callout': true, 'callout-success': lastOpenBox.active, 'callout-danger': !lastOpenBox.active}"
      *ngIf="hasOpenBox">
      <h5> {{lastOpenBox.local.name}} </h5>

      <dl class="row">
        <dt class="col-sm-4">Precio entrada</dt>
        <dd class="col-sm-8">{{lastOpenBox.startingPrice | currency: 'S/.'}}</dd>
        <dt class="col-sm-4">Precio salida</dt>
        <dd class="col-sm-8">{{lastOpenBox.endPrice | currency: 'S/.'}}</dd>
      </dl>
    </div>
    <div class="text-center">
      <button class="btn btn-outline-primary" (click)="showModalBox()" *ngIf="!lastOpenBox.active"> Abrir caja</button>
      <button class="btn btn-outline-danger" (click)="showModalBox()" *ngIf="lastOpenBox.active"> Cerrar caja</button>
    </div>
  </div>
</div>

<div class="card card-outline card-primary">
  <div class="card-header">
    <h3 class="card-title"> Historial</h3>
  </div>
  <div class="card-body p-0 table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 10px;">#</th>
          <th>Precio de entrada</th>
          <th>Precio de salida</th>
          <th>Observation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of boxes; let i = index;">
          <td>{{i + 1}}</td>
          <td>{{b.startingPrice | currency: 'S/.'}}</td>
          <td>{{b.endPrice | currency: 'S/.'}}</td>
          <td>{{b.obsrvation}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="modaBox" aria-modal="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Detalles de caja</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label> Precio de entrada</label>
            <input type="number" name="startingPrice" class="form-control" [(ngModel)]="box.startingPrice"
              [disabled]="lastOpenBox.active">
          </div>
          <div class="form-group">
            <label> Precio de salida</label>
            <input type="number" name="endPrice" class="form-control" [(ngModel)]="box.endPrice"
              disabled>
          </div>
          <div class="form-group">
            <label> Observacion</label>
            <input type="text" name="observation" class="form-control" [(ngModel)]="box.obsrvation">
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times"></i> Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="openOrClose()"><i class="fas fa-check"></i>
          Aceptar</button>
      </div>
    </div>
  </div>
</div>