<div class="row">
    <div class="col-md-12">
        <div class="card card-outline card-primary" id="cardProduct">
            <div class="card-header">
                <h3 class="card-title">Detalles del producto</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <form #myForm="ngForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Codigo <i class="text-danger">*</i></label>
                                <input type="text" class="form-control" name="productCode"
                                    [(ngModel)]="product.productCode" required id="nameProduct">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nombre de producto <i class="text-danger">*</i></label>
                                <input type="text" class="form-control" name="name" [(ngModel)]="product.name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Descripcion</label>
                                <input type="text" class="form-control" name="description"
                                    [(ngModel)]="product.description">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Precio de compra <i class="text-danger">*</i></label>
                                <input type="text" class="form-control" name="pricePurchase"
                                    [(ngModel)]="product.pricePurchase" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Precio de venta <i class="text-danger">*</i></label>
                                <input type="text" class="form-control" name="priceSale" [(ngModel)]="product.priceSale"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Categoria <i class="text-danger">* </i> <i class="fas fa-1x fa-sync-alt fa-spin"
                                        *ngIf="!endLoandingCategories"></i></label>
                                <select class="form-control" name="category" [(ngModel)]="product.category._id"
                                    required>
                                    <option value="" disabled>Seleccione...</option>
                                    <option *ngFor="let cat of categories" [value]="cat._id">{{cat.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-info" (click)="clearProduct()" *ngIf="!update"><span
                        class="fas fa-broom"></span>
                    Limpiar</button>
                <button class="btn btn-danger" *ngIf="update" (click)="btnCancel()"><span class="fas fa-times"></span>
                    Cancelar</button>
                <button type="submit" class="btn btn-success float-right" (click)="showModal()"
                    [disabled]="myForm.invalid" *ngIf="!update"><span class="fas fa-plus"></span>
                    Agregar producto a almacen</button>
                <button type="submit" class="btn btn-primary float-right mr-1" (click)="createProduct()"
                    [disabled]="myForm.invalid" *ngIf="!update"><span class="fas fa-plus"></span>
                    Solo agregar producto</button>
                <button class="btn btn-primary float-right" *ngIf="update" [disabled]="myForm.invalid"
                    (click)="updateProduct()"><span class="fas fa-check"></span>
                    Actualizar</button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">Productos</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0 table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>codigo</th>
                            <th>Nombre</th>
                            <th>Precio de compra</th>
                            <th>Precio de venta</th>
                            <th>Categoria</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let prod of products; let i = index;">
                            <td>{{i + 1}}</td>
                            <td>{{prod.productCode}}</td>
                            <td>{{prod.name}}</td>
                            <td>{{prod.pricePurchase | currency: 'S/.'}}</td>
                            <td>{{prod.priceSale | currency: 'S/.'}}</td>
                            <td>{{prod.category?.name || 'No category'}}</td>
                            <td>
                                <span class="float text-success" *ngIf="prod.active">
                                    <i class="fas fa-check text-sm"></i>
                                </span>
                                <span class="float text-danger" *ngIf="!prod.active">
                                    <i class="fas fa-times text-sm"></i>
                                </span>
                            </td>
                            <td>
                                <button class="btn btn-outline-success btn-sm" (click)="btnEditProduct(prod)"><span
                                        class="fas fa-edit"></span></button>
                                <button class="btn btn-outline-danger btn-sm ml-1"
                                    (click)="disableProduct(prod._id)" *ngIf="prod.active"><span class="fas fa-trash"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="overlay" *ngIf="!endLoandingProducts"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalWare" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agregar producto a almacen</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form #prodWareForm="ngForm">
                    <blockquote>
                        <dl class="row">
                            <dt class="col-sm-4">Producto</dt>
                            <dd class="col-sm-8">{{productWarehouse.product?.name || ''}}</dd>
                            <dt class="col-sm-4">Codigo</dt>
                            <dd class="col-sm-8">{{productWarehouse.product?.productCode || ''}}</dd>
                        </dl>
                    </blockquote>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Almacen <i class="text-danger">*</i></label>
                                <select class="form-control" name="warehouse"
                                    [(ngModel)]="productWarehouse.warehouse._id">
                                    <option value="" disabled>Seleccione...</option>
                                    <option *ngFor="let w of warehouses" [value]="w._id">{{w.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Cantidad <i class="text-danger">*</i></label>
                                <input type="text" class="form-control" name="quantity"
                                    [(ngModel)]="productWarehouse.quantity" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fas fa-times"></span>
                    Cancelar</button>
                <button type="button" class="btn btn-primary" [disabled]="prodWareForm.invalid"
                    (click)="createProductWareHouse()"><span class="fas fa-save"></span> Guardar</button>
            </div>
        </div>
    </div>
</div>